@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html, body{
    font-family: "Raleway", Helvetica, sans-serif;
    color: #646464;
    background: #f4f4f4;
    margin: 0;
    height: 100%
}

h2{
    color: #333;
    margin: 20px;    
}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.navbar li {
	display: inline;
	float: left;
    text-transform: uppercase;
}

.navbar a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0px 10px;
}

.navbar li a:hover {
    color: #36bbde;
}
