@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html{
    background: #f4f4f4;
    height: 100%;
}

body{
    font-family: "Raleway", Helvetica, sans-serif;
    color: #646464;
    margin: 0;
    padding-top: 40px;
}

h2{
    color: #333;
    margin: 20px;
    text-align: center;
    font-weight: 900;  
    font-size: 2em;  
    text-transform:uppercase;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    letter-spacing: 0.25em;    
}

p{
    margin: 20px;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    border-bottom: solid 1px rgba(160, 160, 160, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
    letter-spacing: 0.25em;
}

.navbar li {
	display: inline;
	float: left;
    text-transform: uppercase;
    border-left: solid 1px rgba(160, 160, 160, 0.3);
}

.navbar a{
    display: block;
    color: #646464;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0px 10px;
}

.navbar li a:hover {
    color: #36bbde;
}
